
!.vscode/extensions.json
.DS_Store
.env
.idea
.vscode/*
# Ignore all .env files
*.env
# Ignore Firebase service account keys
*.firebaseServiceAccount.json
# Ignore local config files
*.local
# Log files
*.log
# Editor directories and files
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# Build output
dist
dist-ssr

# Dependency directories
node_modules

# Debug logs
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
